
.resetPasswordForm h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.resetPasswordForm {
    margin: 50px auto;
    max-width: 500px;
}
@media (max-width: 480px) {
    .resetPasswordForm h2 {
        font-size: 1.6rem;
    }
    .resetPasswordForm {
        margin: 20px auto;
        max-width: 90%;
    }
}