.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
}

.galleryOneItem {
    grid-template-columns: repeat(1, 1fr);
}
.oneItem {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
}
.twoItems {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}
.threeItems {
    display: grid;
    grid-area: items;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}
.fourItems {
    display: grid;
    grid-area: items;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
}
@media (max-width: 375px) {
    .items,
    .oneItem,
    .twoItems,
    .threeItems,
    .fourItems {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}
@media (min-width: 375px) and (max-width: 640px) {
    .items,
    .oneItem,
    .twoItems,
    .threeItems,
    .fourItems {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 1rem;
    }
}
@media (min-width: 641px) and (max-width: 991px) {
    .items,
    .oneItem,
    .twoItems,
    .threeItems,
    .fourItems {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .items,
    .oneItem,
    .twoItems,
    .threeItems,
    .fourItems {
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
}