.tabListItem {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0;
    background: #efefef;
    position: relative;
}
.tabListItem button, .tabListItem button:hover, .tabListItem button:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
    color: #818692;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.tabListItemActive button, .tabListItemActive button:hover, .tabListItemActive button:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    min-width: auto;
    background-color:#fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.tabListItemActive {
    display: inline-block;
    list-style: none;
    padding: 0;
    color: #000;
    position: relative;
    border-bottom: #161616 solid 1px;
}
@media (min-width: 770px) {
    .tabListItem, .tabListItemActive {
        float: left;
        width: auto;
    }
}
@media (max-width: 767px) {
    .tabListItem,  .tabListItemActive{
        padding: 0;
        font-size: 14px;
        float: left;
        width: 100%;
        background: transparent;
        
    }
    .tabListItemActive:before, .tabListItemActive:after {
        content: none;
    }
    .tabListItem button:after {
        content: "";
        width: 6px;
        height: 6px;
        border-right: 1px solid #7d7d7d;
        border-bottom: 1px solid #7d7d7d;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -6px;
    }
    .tabListItemActive button:after {
        content: "";
        width: 6px;
        height: 6px;
        border-right: 1px solid #D69229;
        border-bottom: 1px solid #D69229;
        transform: rotate(-135deg);
        display: block;
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: 0px;
    }
    .tabListItem button, .tabListItem button:hover, .tabListItem button:focus,
    .tabListItemActive button, .tabListItemActive button:hover, .tabListItemActive button:focus {
        display: block;
        width: 100%;
        padding: 5px 35px 5px 10px;
        position: relative;
        text-align: left;
        background-color: transparent;
        text-transform: capitalize !important;
    }
    .tabListItemActive button{
        border-bottom: 1px solid #d1d1d1;
    }
    .tabListItemActive button{
        color: #D69229 !important;;
        border-top: 1px solid #D69229;
    }
}
